/*
 * Author: Ciarab
 * URL: ciaran.design
 *
 * Project Name: Ciaran
 * Version: 1.0
 */

 @font-face {
     font-family: 'Grenette Pro';
     src: url('../fonts/GrenettePro-Regular.woff2') format('woff2'),
         url('../fonts/GrenettePro-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }


@font-face {
  font-family: 'graphik-web-regular';
  src:
    url('../fonts/graphik-web-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/graphik-web-regular.woff') format('woff'),
    url('../fonts/graphik-web-regular.ttf')  format('truetype'),
    url('../fonts/graphik-web-regular.svg#graphik-web-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graphik-web-medium';
  src: url('../fonts/graphik-web-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/graphik-web-medium.woff') format('woff'),
  url('../fonts/graphik-web-medium.ttf')  format('truetype'),
  url('../fonts/graphik-web-medium.svg#graphik-web-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: #000;
}

h1 {
  margin: 0 0 10px;
  font-family: 'graphik-web-medium', helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: .4px;
  font-size: 24px;
  color: #000;
  line-height: 0.9em;
}

h2 {
  margin: 0;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: .4px;
}

h3 {
  font-size: 14px;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
  text-transform: uppercase;

  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px 0 32px;
}

h4 {
  font-size: 14px;
  color: #666;
  letter-spacing: .3px;
}

p, span, ol, ul {
  line-height: 1.8em;
  margin-bottom: 25px;
  margin-top: 0;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
}
ol {
  margin-top: -20px;
  margin-bottom: 4px;
}
b {
  font-family: 'graphik-web-medium', helvetica, sans-serif;
  font-weight: normal;
}

small a {
  margin: 0 24px 0 0;
}

/* Links */
a {
  color: #242424;
  border-bottom: 1px dotted #242424;
  word-wrap: break-word;
  text-decoration: none;
  cursor: pointer;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
}

.serif {
  font-family: 'Grenette Pro';
  font-size: 32px;
  margin: 0;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

ul {
  font-size: 18px;
  line-height: 2;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
  max-width: 700px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1090px;
  }
}

.flexbox {
  display: flex;
}

.mobile-show {
  display: none;
}

@media (max-width: 480px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: inline-block;
    height: 24px;
  }
}


.navbar {
  margin: 40px 0 0px;
  padding: 40px 0px;
}

a.nav-item {
  border-bottom: none;
  margin-left: 16px;
}

a.active {
  font-family: 'graphik-web-medium';
}

hr {
  border: 1.5px dashed transparent;
  max-width: 50%;
  margin: 100px 0 0;
}

.about-me p {
  max-width: 680px;
}



.text-gray {
  color:#666 !important;
}

.sm-grey {
  color: #666;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 10px;
}

.featured-works {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 16px;
}

.testimonials {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 16px;
}

@media (max-width: 765px) {
  .featured-works {
    grid-template-columns: 100%;
  }
}

.featured-work {
  padding: 36px 32px 0;
  color: #242424;
  border-radius: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e7e4;
  background: #fbfbf8;
}

.about-me {
  max-width: 700px;
}

.featured-work p {
  margin-top: 24px;
}

.bg-grey-testimonial {
  background: #fbfbf8;
  padding: 80px 0 64px;
  margin: 120px 0 0;
  border-top: 1px solid #f5f5f5;
}

.testimonial {
  color: #242424;
  max-width: 640px;
  border-radius: 6px;
}

.align-center {
  margin: 0 auto;
}

.testimonial p, ol, span {
  font-size: 16px;
}

.featured-work-img {
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  margin: 0 0 -6px;
}

@media (max-width: 990px) {
  .featured-work-img {
  }
}

.footer {
  border-top: 1px solid #e8e7e4;
  padding-top: 32px;
  background: #fbfbf8;
}

.footer p {
  margin-bottom: 32px;
}
.flex {
  display: flex;
  height: 32px;
}
.featured-work-img img {
  width: 100%;
}

.featured-work a {
  color: #242424;
  border-bottom: none;
}

@media (max-width: 990px) {
  .featured-work {
  }
}

.featured-work .featured-work-link {
  transition: all .2s ease;
  margin-bottom: 32px;
  height: 26px;
  border-radius: 6px;
  padding: 6px 12px;
  border: 1px solid transparent;
  line-height: 1.8;
  color: #666;
  font-size: 16px;
}

.featured-work .featured-work-link:hover {
  color: #635bff;
  border: 1px solid #e8e7e4;
}

.featured-work-title {
  font-weight: 600;
  font-size: 18px;
}

.featured-work-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari 6.1+ */
  align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
}

.featured-work-time {
  margin: 0;
  font-size: 14px;
}

.profiler-container {
  border-radius: 50%;
  float: left;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin: -2px 17px 0 0;
}

.profiler {
  width: 100%
}

.profile {
  flex: 1;
}
